{% extends "base.html" %}
{% block body %}
    <body class="text-center">
        <div class="container">
            <form method="post" class="form-login">
                {{ form.hidden_tag() }}
                <h1>Konto | Login</h1>
                <br>{{ form.username(class="form-control", placeholder="Login..") }}
                <br>{{ form.password(class="form-control", placeholder="Hasło..") }}
                <br>
                <div class="checkbox mb-3">
                    <h6>Nie masz konta?
                        <a class="btn btn-sm btn-outline-warning btn-secondary" href="{{ url_for('RegisterPage') }}">Załóż konto</a>
                    </h6>
                </div>
                {{ form.submit(class="btn btn-lg btn-outline-warning") }}
            </form>
        </div>
    </body>
{% endblock %}