{% extends "base.html" %}
{% block body %}
    <body class="text-center">
        <div class="container">
            <form method="post" class="form-register">
                {{ form.hidden_tag() }}
                <h1>Konto | Rejestracja</h1>
                <br>{{ form.username(class="form-control", placeholder="Login..") }}
                <br>{{ form.email_address(class="form-control", placeholder="Adres e-mail..") }}
                <br>{{ form.password1(class="form-control", placeholder="Hasło..") }}
                <br>{{ form.password2(class="form-control", placeholder="Potwierdź hasło..") }}
                <br>
                <div class="checkbox mb-3">
                    <h6>Posiadasz już konto?
                        <a class="btn btn-sm btn-outline-warning btn-secondary" href="{{ url_for('LoginPage') }}">Zaloguj się</a>
                    </h6>
                </div>
                {{ form.submit(class="btn btn-lg btn-outline-warning") }}
            </form>
        </div>
    </body>
{% endblock %}